@{
    ViewData["Title"] = "Add Location";
}
<h2>Add Location</h2>
<form action="@Url.Action("Create", "Location")" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="FirstName" class="form-label">Location Name</label>
        <input type="text" class="form-control" id="Location Name" name="LocationName">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" id="Address" name="Address">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="City" class="form-label">City</label>
        <input type="text" class="form-control" id="City" name="City">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="State" class="form-label">State</label>
        <input type="text" class="form-control" id="State" name="State">
    </div>

    <div class="col-sm-6 mb-3">
        <label for="ZipCode" class="form-label">Zip Code</label>
        <input type="text" class="form-control" id="ZipCode" name="ZipCode" maxlength="5">
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>