@{
    ViewData["Title"] = "Add Patient";
}
<h2>Add Patient</h2>
<form action="@Url.Action("Create", "Patient")" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="LastName" name="LastName">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" id="Age" name="Age">
    </div>

    <div class="col-sm-6 mb-3">
        <label for="ZipCode" class="form-label">Zip Code</label>
        <input type="text" class="form-control" id="ZipCode" name="ZipCode" maxlength="5">
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>