@model PantherPickup.Models.Patient.PatientModel
@{
    ViewData["Title"] = "Patient Info";
}
<h2> Patient Info</h2>
Name: @Model.FirstName @Model.LastName <br />
Age: @Model.Age<br />
Zip Code: @Model.ZipCode<br/>