@{
    ViewData["Title"] = "Ride Request";
    }

    <h1>Make the ride request</h1>

    <select class="form-select" aria-label="Select Driver">
     <option selected>Open this select menu</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
    </select>

    <select class="form-select" aria-label="Select Pick-up Location">
     <option selected>Open this select menu</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
    </select>

    <select class="form-select" aria-label="Destination">
     <option selected>Open this select menu</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
    </select>