@{
    ViewData["Title"] = "Temp Home";
}

<div class="container">
    <div class="row">
        <div class="col col-lg-12 col-xl-6">
             <h2>Welcome driver! </h2>
        </div>
       <div class="row">
           <div class="col col-md-12 col-lg-6">
               
            </div>
            <div class="col col-md-12 col-lg-6">
               <div class="p-3 float-end">
                    <a class="btn btn-primary" asp-area="" asp-controller="Driver" asp-action="Profile">Profile</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Driver" asp-action="Calendar">Calendar</a>
               </div>
            </div>
        </div>
   
    <!--Google map-->
    <div class="text-center">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
          <iframe src="https://maps.google.com/maps?q=orange,+CA&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" width="1000" height="450"
            style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <!--Google Maps-->

    <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Passenger: Mica - April 22nd 5:00pm
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <p>From: Chapman University </p>
          <p>To: Disney Land</p>
          <p>Passengers: 4</p>
          <br />
          <button type="button" class="btn btn-success">Accept Ride</button>
          <button type="button" class="btn btn-danger">Cancel Request</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Passenger: Mica - May 3rd 1:00pm
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p>From: Chapman University</p>
        <p>To: LAX</p>
        <p>Passengers: 1</p>
        <br />
        <button type="button" class="btn btn-success">Accept Ride</button>
        <button type="button" class="btn btn-danger">Cancel Request</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Passenger: Mica - May 10th 8:00am
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p>From: Chapman University</p>
        <p>To: Orange Circle</p>
        <p>Passengers: 2</p>
        <br />
        <button type="button" class="btn btn-success">Accept Ride</button>
        <button type="button" class="btn btn-danger">Cancel Request</button>
      </div>
    </div>
  </div>
</div>