@model VacTrack.Models.VaccinationLocation.VaccinationLocationModel
@{
    ViewData["Title"] = "Delete Vaccination Location";
}
<h2>Delete Patient</h2>
<form action="@Url.Action("Delete", "VaccinationLocation", new { id = Model.VaccinationLocationID})" method="post">
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete the @Model.Location.LocationName location with the @Model.Vaccine.Name vaccine ?
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>