@model VacTrack.Models.Vaccine.VaccineModel
@{
    ViewData["Title"] = "Delete Vaccine";
}
<h2>Delete Vaccine</h2>
<form action="@Url.Action("Delete", "Vaccine", new { id = Model.VaccineID})" method="post">
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete the @Model.Name vaccine?
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>