@model PantherPickup.Models.Vaccine.VaccineModel
@{
    ViewData["Title"] = "Edit Vaccine";
}
<h2> Edit Vaccine</h2>
<form action="@Url.Action("Edit", "Vaccine",new { id = Model.VaccineID})" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="VaccineName" class="form-label">Vaccine Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
    </div>
    <div class="col-sm-6 mb-3">
        <label for="NumOfDoses" class="form-label">Number of Doses</label>
        <input type="number" class="form-control" id="NumOfDoses" name="NumOfDoses" value="@Model.NumOfDoses">
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Delete", "Vaccine",new { id = Model.VaccineID})" class="btn btn-danger">Delete</a>
    </div>
</form>