@model VacTrack.Models.Appointment.AppointmentModel
@{
    ViewData["Title"] = "Delete Appointment";
        }
<h2>Delete Patient</h2>
<form action="@Url.Action("Delete", "Appointment", new { id = Model.AppointmentID})" method="post">
    <div class="alert alert-danger" role="alert">
        Are you sure you want to delete  @Model.Patient.FirstName 's appointment for the @Model.VaccinationLocation.Vaccine.Name vaccine at @Model.VaccinationLocation.Location.LocationName ?
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>