
@{
    ViewData["Title"] = "Sign Up";
}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card text-white bg-danger mb-3" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mbMySqlTransaction trans = conn.BeginTransaction();;md-5">Sign Up</h3>
            <form action="@Url.Action("Create", "Account")" method="post" class="row">

                <div class="row">
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Account Type: </h6>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="isPassenger"
                      id="passenger"
                      value="True"
                      checked
                    />
                    <label class="form-check-label" for="passenger">Passenger</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="isPassenger"
                      id="driver"
                      value="False"
                    />
                    <label class="form-check-label" for="driver">Driver</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input type="text" id="Name" name="Name" class="form-control form-control-lg" />
                    <label class="form-label" for="Name"> Name</label>
                  </div>

                </div>

              </div>

           
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="email" name="Email" class="form-control form-control-lg" />
                    <label class="form-label" for="email">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="tel" id="password" name="Password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                  </div>

                </div>
              </div>

              <label class="form-label select-label">Select Year</label>
              <div class="row">
                <div class="col-12">
                  
                  <select  name="year" class="select form-control-lg">
                    <option disabled>Choose option</option>
                    <option value="1">Freshman</option>
                    <option value="2">Sophomore</option>
                    <option value="3">Junior</option>
                    <option value="4">Senior</option>
                  </select>

                  <div class="form-outline">
                    <input type="text" id="major" name="Major" class="form-control form-control-lg" />
                    <label class="form-label" for="major">Major</label>
                  </div>


                </div>
              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>