@{
    ViewData["Title"] = "Passengers";
    }
    <h2>Welcome!</h2>
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #AC2BAC;" href="#!" role="button">
        <i class="fas fa-car-alt"></i>
    </a>